/* Reset CSS */
*{
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
    1. vị trí
    2. kích thước
    3. màu sắc
    4. kiểu dáng

*/

#main {
    background-color: #EDF2F6;
}

#header {
    width:100vw;
    height: 66px;
    background-color: #34465d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 16px;
    color: #fff;
}

#header #logo{
    line-height: 66px;
    width: 14%;
    float: left;
    
}

#header #search{
    width: 27%;
    line-height: 66px;
    float: left;
    display: block;
    position: relative;
}

#header #search input{
    width: 100%;
    padding: 14px 30px;
    font-size: 13px;
    border: medium none;
   height: 44px;
   background: rgba(255,255,255,.1);
   
   color: #fff;
   border-radius: 30px;
}
#header #search input::placeholder{
    color: #B9B9B9;
}
#header #search input:focus {
    outline: none;
}

#header #search .search-btn{
    position: absolute;
    
    right: 0;
    top: 0;
    padding: 0 30px;
}

#header #search .search-btn a{
    text-decoration: none;
    color: #fff;
}


#header #page-name{
    text-transform: uppercase;
    text-align: left;
    line-height: 66px;
    float: left;
    padding: 0 30px;
    font-size: 14px;
    font-weight: 500;
}

#nav{
    float: left;
   margin: 0;
   display: inline-block;
   
}

#nav ul{
    margin: 0;
    border-left: solid 0.1px #B9B9B9;
    padding-left: 4px;
    position: relative;
    
}
 #nav li{
    display: inline-block;
}

#nav i{
    color: #B9B9B9;
    
}

#nav li a{
    height: 66px;
    width: 40px;
    color: #999;
    text-decoration: none;
    line-height: 66px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    
}

#nav  a:hover{
     background-color: #2F3F54; 
   /* background-color: #FA6342; */
    border-radius: 100%;
    height: 40px ;
    width: 40px;
}

#nav a:hover i{
    color: #fff ;
}
#nav a:hover p{
    pointer-events: none;
}

.more{
    position: absolute;
    top: 14px;
    color: #fff;

    width: 16px;
    height: 16px;
    font-size: 11px;
    margin: 0;
    display: block;
    padding-left: 4px;
}

.more-user{
    left: 96px;
   
    border-radius: 100%;
    background-color: #E44A3C;
 
}

.more-bell{
   
    left: 155px;
   
    border-radius: 100%;
    background-color: #7750F8;
   
   
}

.more-mess{
   
    left: 210px;
  
    border-radius: 100%;
    background-color: #23D2E2;
   
}

.more-language{
   
    left: 263px;
    
   
}

#header-menu {
    float: right;
    position: relative;
    line-height: 66px;
    display: inline-block;
    right: 240px;
    cursor: pointer;
    text-align: right;
    

}

#header-menu .sub-menu{
    list-style: none;
    padding: 0;
    text-align: left;
}
#header-menu .sub-menu ul{
    
}
#header-menu .sub-menu li{
    color: #fff;
   
    display: inline-block;
}
 .sub-menu li a{
    text-decoration: none;
 }

#user-img{
   float: right;
    line-height: 66px;
    position: relative;
    right: 70px;
    cursor: pointer;

}
#user-img img{
    border-radius:24px ;
}

#header-setting{

    float: right;
    line-height: 66px;
    font-size: 20px;
    position: absolute;
    right: 40px;
    cursor: pointer;
}






#left{
    width: 70px;
    height: 100vh;
    background-color: #fff;
    float: left;
    font-size: 20px;
    position: fixed;
    top: 66px;
    left: 0;
    text-align: center;
    border-radius: 10px;
}

#left .left-a a{
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: #000;
    margin: 10px 0;
    background-color: #EDF2F6;
    border-radius: 100%;
    line-height: 40px;
}


#left .left-menu a {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: #fff;
    margin: 10px 0;
    background-color: #54667D;
    border-radius: 100%;
    line-height: 40px;
   
}


#left a:hover{

    color: #FA6342;
    background-color: #DEDEFE;
    border-radius: 100%;
}

#right {
    width: 70px;
    height: 100vh;
    float: right;
    background-color: #fff;
    position: fixed;
    right: 0;
    top: 66px;
}

#right{
    width: 70px;
}

#right a{
    width: 70px;
    display: inline-block;
    line-height: 56px;
    margin-left: 18px;
}

#right a img{
    border-radius: 16px;
   
}

#container {
    
    width: 60vw;
    height: 2900px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;;
    padding: 30px 0;
}

#profile {
    position: relative;
    height: 436px;
    background-color:#fff;
   margin-bottom: 30px;
   display: inline-block;
}

#profile-img img{
    width: 100%;
    height: 370px;
    position: relative;
    display: inline-block;
}

#profile .icon-camera{
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 6%;
    left: 3%;
    transform: translate(-50%, -50%);
    display: none;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền trong suốt */
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease; /* Hiệu ứng mờ khi hover */
    color: #fff;
}

#profile-img:hover .icon-camera {
    display: block;
    opacity: 1;
}

#author{
  width: 155px;
  float: left;
  position: absolute;
    bottom: 12px;
    left: 28px;
    height: 232px;
    text-align: center;
}

#author img{
    width: 155px;
    height: 155px;
    border-radius: 80px;
    
    border: 2px solid #fff;
}



#sub-author {
    float: left;
    padding-left: 48px;
}

#menu-profile{
    width: 624px;
    float: left;
    padding-left: 30px;
}
#menu-profile ul{

    display: inline-block;
    margin-bottom: 0;
}
#menu-profile li{
    line-height: 66px;

    display: inline-block;
    
}

#menu-profile a{
    
    list-style: none;
    text-decoration: none;
    color: #000;
}

#menu-profile a:hover{
    color: #FA6342;
    cursor: pointer;
}

#sub-control{
    float: right;
    position: absolute;
    bottom: 88px;
    right: 0;
    font-size: 16px;
}

#sub-control  ul{
   width: 200px;
}

#sub-control  li{
    display: inline-block;
}

#sub-posts{
    float: right;
}

#sub-posts ul li {
    display: inline-block;
    line-height: 24px;
    margin-top: 10px;
    margin-right: 28px;
}

#sub-posts h{
    color: #FA6342;
}

#content{

}

#leftcontent{
    
    height: 2436px;
    float: left;
    background-color: cadetblue;
}

#postbox{
    
    height: 2436px;
    float: left;
    background-color: aquamarine;
}

#rightcontent{
   
    height: 2436px;
    float:right;
    background-color: beige;
}



#footer {

}
